.users-list {
	margin: 0 auto;
	width: 90%;
	margin-top: 50px;
	border-top: 1px solid #2f2f2f;
	padding-bottom: 23px;
}

.users-list__title {
	text-align: center;
}
.users-list__form-container {
	margin: 0 auto;
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.users-list__list {
	list-style: none;
	margin: 0 auto;
	margin-top: 100px;
	padding: 0;
	display: grid;
	gap: 17px;
	grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
	max-width: calc(100% - 40px);
}

.users-list__error {
	text-align: center;
	margin-top: 80px;
	color: red;
}
