.admin-form {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	width: 300px;
	min-height: 450px;
	border: 1px solid #2f2f2f;
	border-radius: 8px;
	padding: 10px;
	position: relative;
}

.admin-form__title {
	text-align: center;
}

.admin-form__label {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.admin-form__label:first-of-type {
	margin-top: 0;
}

.admin-form__input {
	width: 100%;
	height: 50px;
	border: 1px solid #2f2f2f;
	border-radius: 8px;
	color: #2f2f2f;
	outline: none;
	margin-top: 10px;
}

.admin-form__input:focus {
	outline: 1px solid #4285f4;
}

.admin-form__submit-button {
	width: 70%;
	color: #ffffff;
	background-color: #4285f4;
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
	border: none;
	border-radius: 3px;
	height: 44px;
	cursor: pointer;
	transition: opacity 0.5s ease-in;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	text-align: center;
	bottom: 20px;
}

.admin-form__submit-button:hover {
	opacity: 0.8;
}

@media screen and (max-width: 768px) {
	.auth-form {
		width: 300px;
	}
}

@media screen and (max-width: 500px) {
	.auth-form {
		width: 300px;
	}

	.auth-form__submit-button {
		margin-top: 100px;
	}
}
