.station {
	display: flex;
	flex-direction: column;
	width: 300px;
	height: 300px;
	border: 1px solid #2f2f2f;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

/* .station__title-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px;
	max-width: calc(100% - 12px);
} */

.station__title {
	margin: 30px 0 0;
	text-align: center;
	width: 80%;
	font-size: 20px;
	align-self: center;
}

.station__buttons-container {
	position: absolute;
	top: 5px;
	right: 5px;
}

.station__button-delete {
	width: 14px;
	height: 14px;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	background-image: url(../images/trash_button.svg);
	background-size: cover;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	transition: opacity 0.5s ease-in;
}

.station__button-delete:hover {
	opacity: 0.5;
}

.station__button-edit {
	width: 14px;
	height: 14px;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	background-image: url(../images/edit_button.svg);
	background-size: cover;
	border: none;
	background-repeat: no-repeat;
	background-position: center;
	transition: opacity 0.5s ease-in;
	margin-left: 15px;
}

.station__button-edit:hover {
	opacity: 0.5;
}
